.home-feed {
    width: 85%;
    max-width: 800px;
    margin: 10px auto;
    margin-top: 40px;
    padding: 30px 10px;
    border: 1px solid black;
    min-height: min(80vh, 750px);
    max-height: min(100vh, 950px);

    box-shadow: 2px 2px 10px 0px black;
    border-radius: 10px;

    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}