@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* HEADER | BODY | FOOTER */
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-header {
    background-color: #232f47;
    margin: 0;
    padding: 15px;
    min-height: 15vh;
}

.blog-header h1 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.blog-header p {
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #aaaaaa;
    font-family: 'Poppins', sans-serif;
}

.blog-footer {
    background-color: #232f47;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.blog-footer p {
    font-size: 0.9rem;
    color: #fff;
    margin: 10px 0;
}


/* App Body Styles */
.blog-body {
    border: 1px solid black;
    flex: 1;
}